<% if @book_class == "BookBundle"
  block = "section"
  title_class = "h3"
else
  block = "article"
  title_class = "h2"
end %>

<<%= block %> itemscope itemtype="http://schema.org/Book">

  <<%= title_class %> class="title">
    <a href="<%= @book.link %>" itemprop="name">
      <%= @book.title %>
    </a>
  </<%= title_class %>>
  
  <% if @book.cover_pic %>
    <img itemprop="image" src="<%= @book.cover_pic %>" alt=""/>
  <% end %>
  
  <section class="about">
  
    <% unless @book.notes.nil? %>
      <p class="notes"><%= @book.notes %></p>
    <% end %>
        
    <ul class="authors">
      <% @book.authors.each do |author| %>
        <li itemprop="author"> <%= author %></li>
      <% end %>
    </ul>
    
    <p itemprop="publisher">Publisher: <%= @book.publisher %></p>
    
    <% unless @book.isbn.empty? %>
    
      <span class="ident_<%= @book.ident %>"></span>
      
      <% targeturl = "https://openlibrary.org/api/books?bibkeys=ISBN:" + @book.isbn.tr(' ','') + "&jscmd=data&format=json" %>

      <script>$.getJSON('<%= targeturl %>', function(openLibJson){
        if (_.isEmpty(openLibJson)) {
          // console.log('No OpenLibrary data for ISBN: <%= @book.isbn %>');
        } else {
          // console.log(openLibJson);
          var isbn_key = _.keys(openLibJson)[0];
          $('span.ident_<%= @book.ident %>').append('<p itemprop="datePublished">Published: ' + openLibJson[isbn_key].publish_date + '</p>');
          if (openLibJson[isbn_key].number_of_pages != undefined) {
            $('span.ident_<%= @book.ident %>').append('<p itemprop="numberOfPages">' + openLibJson[isbn_key].number_of_pages + ' pages</p>');
          }
        }
      })</script>
    <% end %>

    <ul class="formats">
      <% @book.formats.each do |format| %>
        <li><a class="button <%=@colours[format[:extension]]%>" href='<%= format[:link] %>'><i class="fa fa-file-pdf-o"></i><%= format[:extension] %></a></li>
      <% end %>
    </ul>
    
    <% unless @book.isbn.empty? %>
      <p>ISBN: <span itemprop="isbn" class="isbn_<%= @book.isbn %>"><%= @book.isbn %></span></p>
    <%end%>
  </section>
</<%= block %>>